.results {
  /*margin: 0;
  padding: 0;
  list-style-type: none;*/
  /*overflow-y: scroll;*/
}

.result {
  margin-bottom: 1rem;
  padding: 0.6rem;
}

.result-inner {
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
  padding: 1.2rem;
}

.result h1 {
  margin-bottom: 1rem;
}

.result .distance {
  margin-bottom: 0.5rem;
}

.result .address,
.result .telephone
{
  color: #999;
}
